body {
    background-color:rgb(195, 229, 22);
    font-family: Arial;
    color: white;
    }
    h1{color:rgb(247, 14, 14);
    font-family: Verdana;}
    
    .maindiv{
    background-color: white;
    color:black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin: 0 auto;
    }